{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost_union/footer

    Boost Union page footer template.

    Example context (json):
    {
        "output": {
            "page_doc_link": "Help and documentation",
            "supportemail": "<a href=\"#\">Contact site support</a>",
            "has_popover_links": true,
            "services_support": "Services and support",
            "login_info": "You are logged in as cute kitten",
            "moodle_release": "90210"
        },
        "imprintlinkpositionfooter": true,
        "imprintlink": "https://localhost/theme/boost_union/pages/imprint.php",
        "imprinttitle": "Imprint",
        "contactlinkpositionfooter": true,
        "contactlink": "https://localhost/theme/boost_union/pages/contact.php",
        "contacttitle": "Contact",
        "helplinkpositionfooter": true,
        "helplink": "https://localhost/theme/boost_union/pages/help.php",
        "helplinktitle": "Help",
        "maintenancelinkpositionfooter": true,
        "maintenancelink": "https://localhost/theme/boost_union/pages/maintenance.php",
        "maintenancetitle": "Maintenance"
    }
}}
{{!
    This template is based on theme_boost/footer

    Modifications compared to this template:
    * Added the possibility to show the imprint page link.
    * Added the possibility to show the contact page link.
    * Added the possibility to show the help page link.
    * Added the possibility to show the maintenance page link.
}}

<footer id="page-footer" class="footer bg-white">
    <div class="footer-content container-fluid" data-region="footer-content">
        {{# output.has_popover_links }}
            <div class="footer-section py-3 border-bottom footer-support">
                
                {{# output.supportemail }}
                    <div class="footer-support-link">{{{ output.supportemail }}}</div>
                {{/ output.supportemail }}
            </div>
        {{/ output.has_popover_links }}
        <div class="footer-section py-3 border-bottom footer-login">
            <div class="logininfo">
                {{{ output.login_info }}}
            </div>
            <div class="tool_usertours-resettourcontainer">
            </div>

            <!--{{{ output.standard_footer_html }}}-->
            {{{ output.standard_end_of_body_html }}}
        </div>
        <div class="footer-section px-3 py-3 row align-items-center">
            <div class="footer-logo col-8 col-md-5 px-0"><a href="https://www.uregina.ca/business/" target="_blank"><img class="img-fluid" src="{{{output.logo_src}}}"></a></div>
			<div class="footer-fund-logo col-4 col-md-2 px-0"><img class="img-fluid" src="{{{output.funding_logo_src}}}"></div>
			<div class="footer-funding col-sm-12 col-md-5 px-0"><p class="small">{{{ output.funding_statement }}}</p></div>
        </div>
    </div>

    <div class="footer-content-debugging footer-dark bg-dark text-light">
        <div class="container-fluid footer-dark-inner">
            {{{ output.debug_footer_html }}}
        </div>
    </div>
</footer>

